@charset "UTF-8";

* {
    font-family:'Times New Roman', Times, serif
}
body{
    background-image: linear-gradient(to right, #f1d8c9,#f2c3a7);
}
main{
    background-color: rgb(6, 160, 165);
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;

    h1{
      text-align: center;  
      background-color: rgb(183, 189, 187);
    }
    h2{
        color: #8ad15a;
    }
    p{text-align: justify;}
}
    